.bodybackground{
    background: rgb(255,250,205);
    background: linear-gradient(90deg, rgba(255,250,205,1) 35%, rgba(246,255,205,1) 46%, rgba(196,245,113,1) 51%);
}

h3{
    font-family: Snell Roundhand, cursive;
    color:#228B22;
}

#caixadetexto1{
    width: 200px;
    height: 35px;
    background-color: white;
    color:#228B22;
}

#botao1{
    width: 100px;
    height: 30px;
    background-color: #228B22;
    border-radius: 40%;
    border-color: white;
    color:white;
}

body{
    text-align: right;
}

.container{
    width: 100%;
     padding-right: $padding-x;
    padding-left: $padding-x;
}